<header>
    <div class="headerLeft">
        <a onclick="showMenu()"><img class="burgerSymbol" src="./img/lines-leaning-solid.svg"></a>
        <div class="overlay-menu" id="menu" onmouseover="onMouseOver()" onmouseleave="onMouseLeave()">
            <a href="garbage.html">
                <p>Mülleimer</p>
            </a>
            <!-- <img src="./img/arrow-right-from-bracket-solid.png" onclick="closeMenu()"> -->
        </div>

        <a href="index.html">
            <img class="clipboardSymbol" src="./img/clipboard-regular.png">
            <h3>Notizen</h3>
        </a>
    </div>
</header>